{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <title>{% block page_title %}STARRICH LOGIN{% endblock %}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/css1.css' %}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.css">
</head>

<body>
{% block content %}{% endblock %}
</body>

</html>
